{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <div class="terminal-nav">
            <header class="terminal-logo">
                <div class="logo terminal-prompt">
                    <a href="#" class="no-style">{{ data.first_name }} {{ data.last_name }}</a>
                </div>
            </header>
        </div>
    </div>
    <div class="container">
        <p>Student, programmer</p>
        <h2>Contact</h2>
        <ul>
            <li>Email: {{ data.email }}</li>
            <li>Phone: {{ data.phone.prefix }}
                {% for number in data.phone.number %}
                    {{ number }}
                {% endfor %}
            </li>
        </ul>
        <h2>Links</h2>
        <ul>
            {% for link in data.links %}
                <li>
                    <a href="{{ link.url }}">{{ link.name }}</a>
                </li>
            {% endfor %}
        </ul>
        <hr>
    </div>
{% endblock content %}